@import url('./shared/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Libertinus Mono', monospace;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  cursor: auto;
}

/* Hide scrollbar but keep scroll */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}