@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./shared/fonts.css');

html, body {
  font-family: 'Libertinus Mono', monospace;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  cursor: auto;
}